.head-container {
    letter-spacing: 2px;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    color: white;
    position: relative;
    background-color: black;
    background-image: linear-gradient(60deg, #000000, #000000, rgb(141, 141, 141), #000000, rgb(141, 141, 141), #000000, #000000);
    animation: bloodAnimation 40s ease infinite;
    background-size: 400% 400%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 5)
}

@keyframes bloodAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    background: linear-gradient(-60deg, #000000, #000000, rgb(141, 141, 141), #000000, rgb(141, 141, 141), #000000, #000000);
    background-size: 300% 300%;
    animation: gradient 40s ease infinite;
    height: 100vh;
}

body::before {
    content: "";
    background-image: url('bcimages/BackgroundWebsite-transformed.png');
    background-size: 25% 25%;
    background-position: center center;
    background-repeat: repeat;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0%);
    z-index: -2;
}

.back-ground-image-overlay {
    content: "";
    background-image: url('bcimages/44.png');
    background-size: 100% 100%;
    background-position: center center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.copyright {
    color: #fff;
}

.footer {
    text-align: center;
    vertical-align: bottom;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    opacity: 0.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;

}

.list-container {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
}

.bigger-link li {
    transition: transform 0.3s ease;
}

.bigger-link li:hover {
    transform: scale(1.2);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    clip-path: circle(0px at calc(110% - 45px) 45px);
    transition: all 0.2s ease-in-out;
    z-index: 1;
}

#active:checked~.wrapper {
    clip-path: circle(75%);
}

.menu-btn {
    position: absolute;
    z-index: 2;
    right: 0px;
    top: 0px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#active:checked~.menu-btn {
    color: #fff;
}

#active:checked~.menu-btn i:before {
    content: "\f00d";
}

.wrapper ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.wrapper ul li {
    margin: 15px 0;
}

.wrapper ul li a {
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    background: #000;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
}

.wrapper ul li a:after {
    position: absolute;
    content: "";
    background: #fff;
    background: linear-gradient(white, rgb(141, 141, 141), white);
    width: 104%;
    height: 110%;
    left: -2%;
    top: -5%;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    animation: rotate 1.5s linear infinite;
    transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after {
    transform: scaleY(1);
}

.wrapper ul li a:hover {
    color: #fff;
}

input[type="checkbox"] {
    display: none;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #202020;
}

.content .title {
    font-size: 40px;
    font-weight: 700;
}

.content p {
    font-size: 35px;
    font-weight: 600;
}

@keyframes rotate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.about-us-container-box1 {
    text-align: center;
    display: flex;
    align-items: center;
    height: 200px;
    padding-left: 850px;
    padding-top: 300px;
    animation: fadeIn 1s ease-in;
}

.about-us-box1 {
    color: white;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background: linear-gradient(-60deg, #000000, #000000, rgb(141, 141, 141), #000000, rgb(141, 141, 141), #000000, #000000);
    background-size: 300% 300%;
    animation: gradient 40s ease infinite;
    box-shadow: 0 4px 8px rgba(255, 254, 254, 0.538);
    width: 600px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.about-us-box1:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 254, 254, 0.538);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.audio-container {
    filter: invert(100%);
    margin-top: -14%;
    z-index: -3;
    margin-left: 1.90%;
    position: relative;
    z-index: 0;
}

.disc {
    z-index: -1;
    height: 140px;
    width: 140px;
    position: absolute;
    top: 200px;
    margin-top: -13.8%;
    transition: transform 0.2s ease;
    transform-origin: center center;
    border-radius: 50%;
    background: transparent;
    box-shadow:
        0 8px 6px -8px rgba(0, 0, 0, 0.5),
        0 0 1px 1px rgba(0, 0, 0, 0.5),
        0 0 0 1px #666 inset,
        0 0 0 2px #222 inset,
        0 30px 0px -29px #444 inset,
        0 -30px 0px -29px #444 inset,
        0 0 0 3px #333 inset,
        0 0 0 4px #222 inset,
        0 0 0 5px #333 inset,
        0 33px 0px -27px #444 inset,
        0 -33px 0px -27px #444 inset,
        0 0 0 6px #222 inset,
        0 0 0 7px #333 inset,
        0 0 0 8px #222 inset,
        0 34px 0px -25px #444 inset,
        0 -34px 0px -25px #444 inset,
        0 0 0 9px #333 inset,
        0 0 0 10px #222 inset,
        0 0 0 11px #333 inset,
        0 35px 0px -23px #444 inset,
        0 -35px 0px -23px #444 inset,
        0 0 0 12px #222 inset,
        0 0 0 13px #333 inset,
        0 0 0 14px #222 inset,
        0 36px 0px -21px #444 inset,
        0 -36px 0px -21px #444 inset,
        0 0 0 15px #333 inset,
        0 0 0 16px #222 inset,
        0 0 0 17px #333 inset,
        0 37px 0px -19px #444 inset,
        0 -37px 0px -19px #444 inset,
        0 0 0 18px #222 inset,
        0 0 0 19px #333 inset,
        0 0 0 20px #222 inset,
        0 38px 0px -17px #444 inset,
        0 -38px 0px -17px #444 inset,
        0 0 0 21px #333 inset,
        0 0 0 22px #222 inset,
        0 0 0 23px #333 inset,
        0 39px 0px -15px #444 inset,
        0 -39px 0px -15px #444 inset,
        0 0 0 24px #222 inset,
        0 0 0 25px #333 inset,
        0 0 0 26px #222 inset,
        0 40px 0px -13px #444 inset,
        0 -40px 0px -13px #444 inset,
        0 0 0 27px #333 inset,
        0 0 0 28px #222 inset,
        0 0 0 29px #333 inset,
        0 41px 0px -11px #444 inset,
        0 -41px 0px -11px #444 inset,
        0 0 0 30px #222 inset,
        0 0 0 43px #333 inset,
        0 0 0 45px rgb(141, 141, 141) inset,
        0 0 0 47px #333 inset,
        0 0 0 62px rgb(141, 141, 141) inset,
        0 0 10px 78px rgba(0, 0, 0, 0.5) inset;
    animation: rotate360 2s linear infinite;
}

@keyframes rotate360 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes playopacity {
    0% {
        transform: opacity(0.5);
    }

    100% {
        transform: opacity(1);
    }
}

.play-pause-button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    opacity: 0.5;
    transition: opacity, all 0.3s ease;
}

.play-pause-button:hover {
    margin-top: -1%;
    margin-left: -0.87%;
    width: 50px;
    height: 50px;
    opacity: 1;
}

.prev_track_button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    opacity: 0.5;
    transition: opacity, all 0.3s ease;
}

.prev_track_button:hover {
    margin-top: -1%;
    width: 50px;
    height: 50px;
    opacity: 1;
}

.next_track_button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    opacity: 0.5;
    transition: opacity, all 0.3s ease;
}

.next_track_button:hover {
    margin-top: -1%;
    width: 50px;
    height: 50px;
    opacity: 1;
}

.audio-player {
    opacity: 0.5;
    transition: opacity 0.3s ease;
    display: none;
}

#audio-container:hover #audio-player {
    opacity: 1;
}